<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Twitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61C2A0C21E6B5C2E00A92E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61C2A0D61E6B5C2E00A92E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61C2A0E11E6B5C2E00A92E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
